header{
    padding: 15px 0;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
h1{
    margin: 0;
}
.products-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product:hover{
    transform: scale(1.05);
}
.product img{
    max-width: 100px;
    border-radius: 50%;
}
.price{
    font-weight: bold;
    color: #4CAF50;
}
#cart{
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#cart-list{
    padding: 0;
    list-style: none;
}
#cart-list li{
    margin-bottom: 10px;
}
#cart-total{
    font-weight: bold;
    color: #4CAF50;
}